<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
    <th:block th:replace="layout :: head"></th:block>
    <body>
        <!-- Navigation-->
        <th:block th:replace="layout :: header"></th:block>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Blog Sức Khỏe</h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p> Trang web blog sức khỏe được thành lập bởi Nhóm 10. Đây là một nơi cung cấp các thông tin và kiến thức về sức khỏe để giúp mọi người có thể chăm sóc và bảo vệ sức khỏe của mình một cách tốt nhất</p>
                        <p>Trên trang web này, bạn có thể tìm thấy những bài viết về dinh dưỡng, thể dục, tập luyện, yoga và các chủ đề khác liên quan đến sức khỏe. Những bài viết được viết bởi các chuyên gia và chia sẻ từ kinh nghiệm thực tế, giúp bạn có thể tiếp cận thông tin một cách đầy đủ và dễ hiểu nhất.</p>
                        <p>Ngoài ra, trang web còn cung cấp các sản phẩm và dịch vụ liên quan đến sức khỏe như thực phẩm chức năng</p>
                        <p>Trang web này được trang bị với một giao diện thân thiện và dễ sử dụng, giúp bạn có thể tìm kiếm các thông tin và sản phẩm một cách dễ dàng. Nếu bạn quan tâm đến sức khỏe và muốn tìm kiếm một nguồn thông tin đáng tin cậy, hãy ghé thăm trang web này của Nhóm 10.</p>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="layout :: footer"></th:block>
    </body>
</html>
