<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<th:block th:replace="layout :: head"></th:block>
<body>
<th:block th:replace="layout :: header"></th:block>
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog sức khỏe</h1>
                    <span class="subheading">sức khỏe là vốn quý nhất của mỗi người dân cũng như của toàn xã hội</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Post List</h1>
            <table class="table">
                <tbody id = "table-body">
                    <tr class="postBody" th:each="post: ${posts}">
                        <td>
                            <img th:src="${post.coverImage}" width="200" height="200" style="border-radius:10px"/>
                        </td>
                        <td>
                            <a style="font-weight:bold" th:href="@{/details/{id}(id=${post.id})}" th:text="${post.title}"></a>
                            <p class="date" th:text="${post.date}"></p>
                            <p class="postContent" th:text="${post.intro}"></p>
                        </td>
                        </br>
                    </tr>
                </tbody>
            </table>
            <style>
                .postContent{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 500px;
                }
            </style>
        </div>
    </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>