<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<th:block th:replace="layout :: head"></th:block>
<body>
    <!-- Navigation-->
    <th:block th:replace="layout :: header"></th:block>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Our products</h1>
                        <span class="subheading">Have questions? I have answers.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container">
        <h1 th:text="${title}"></h1>
        <div class="cards">
            <div class="card" th:each="product: ${products}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text">
                        <img th:src="${product.image}" width="200" height="200"/>
                        <b>Tên SP:</b> <a th:text="${product.name}"></a> </br>
                        <b>Công dụng:</b> <a th:text="${product.uses}"></a> </br>
                        <b>Giá:</b> <a th:text="${product.price}"></a></br>
                        <b>Hạn sử dụng:</b> <a th:text="${product.expiration}"></a></br>
                        <b>Nhà cung cấp:</b> <a th:text="${product.provider.name}"></a></br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>
