<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<th:block th:replace="layout :: head"></th:block>
<body>
<th:block th:replace="layout :: header"></th:block>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 style="color:lime">Order Success</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7" style="text-align:center">
      <h1>Thank you for your order!</h1>
      <p>Your order has been successfully placed.</p>
      <p>Thank you for shopping with us!</p>
      <a style="font-weight:bold;border-radius:10px" class="btn btn-success" href="/">Back to homepage <i class="fa fa-home"></i></a>
    </div>
  </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>