<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Add book</title>

</head>
<body>
<th:block th:replace="Layout :: header"></th:block>

<div class="container">
  <h1>Add Book</h1>
  <form th:action="@{/providers/add}" th:object="${provider}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="name">Name: </label>
      <input class="form-control" type="text" th:field="*{name}" id="name">
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/providers}">Back to List</a>
</div>

<th:block th:replace = "layout :: footer"></th:block>
</body>
</html>