<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:replace="layout :: head"></th:block>
<body>
<th:block th:replace="Layout :: header"></th:block>
<header class="masthead" style="background-image: url('assets/img/providers.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Danh sách các nhà phân phối dược phẩm </h1>
                    <span class="subheading">sức khỏe là vốn quý nhất của mỗi người dân cũng như của toàn xã hội</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h1 th:text="${title}"></h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
        <tbody id = "book-table-body">

        </tbody>
        <tr th:each="provider: ${providers}">
            <td th:text="${provider.id}"></td>
            <td th:text="${provider.name}"></td>
            <td><img th:src="${provider.image}" width="100" height="100" style="border-radius:10px"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/providers/edit/{id}(id=${provider.id})}" class="text-info">Edit</a>
                <a th:href="@{/providers/delete/{id}(id=${provider.id})}"
                   onclick="return confirm('Are you sure?')" class="text-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
<!--<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>-->
<!--<script th:src="@{/js/list.js}"></script>-->
<th:block th:replace = "layout :: footer"></th:block>
</body>
</html>