<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org">
<th:block th:replace="layout :: head"></th:block>
<body>
<th:block th:replace="layout :: header"></th:block>
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog sức khỏe</h1>
                    <span class="subheading">sức khỏe là vốn quý nhất của mỗi người dân cũng như của toàn xã hội</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Add product</h1>
            <form th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">
                <div class="col-6 mb-3">
                    <label class="form-label" for="name">Name: </label>
                    <input class="form-control" type="text" th:field="*{name}" id="name">
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label" for="price">Price:</label>
                    <input class="form-control" type="text" th:field="*{price}" id="price">
                </div>
                <div class="custom-file mb-2">
                    <input type="file" name="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label" for="uses">Uses:</label>
                    <input class="form-control" type="text" th:field="*{uses}" id="uses">
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label" for="expiration">Expiration:</label>
                    <input class="form-control" type="date" th:field="*{expiration}" id="expiration">
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label" for="provider">Provider:</label>
                    <select class="form-control" id="provider" name="provider.id">
                        <option value="">-- Select provider --</option>
                        <option th:each="provider : ${providers}" th:value="${provider.id}"
                                th:text="${provider.name}"></option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('provider')}" th:errors="*{provider}"> </span>
                </div>
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
            <br>
            <a th:href="@{/products}">Back to List</a>
        </div>
    </div>
</div>
<th:block th:replace = "layout :: footer"></th:block>
</body>
</html>